@import "../mixins.scss";
@import "../variables.scss";

.footer {
  align-items: center;
  background: $footerBackground;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 90px;
  min-height: 300px;
  width: 100%;

  .footer__logo {
    padding: 24px 0;
  }

  .menu__list {
    display: flex;
    flex-direction: column;
    text-align: center;

    .menu__item {
      padding: 24px 0;

      a {
        @include menuLinks;
      }
    }
  }

  p.footer__copyright {
    color: #576067;
    padding: 24px 0;
  }

  @media all and (min-width: 1024px) {
    box-sizing: border-box;
    flex-direction: row;
    min-height: 0;
    padding: 0 10%;

    &__menu {
      .menu {
        margin-left: 30%;

        .menu__list {
          flex-direction: row;
          min-width: 460px;

          .menu__item {
            padding: 0 24px;
          }
        }
      }
    }
  }
}
