@import "../mixins.scss";
@import "../variables.scss";

.header {
  align-items: flex-start;
  background: url("../../images/background.jpg") center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  height: auto;
  min-height: 1000px;
  width: 100%;

  &__logo {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-height: 44px;
    min-width: 210px;
    padding: 24px 0 24px 5%;
    z-index: 1;

    img {
      height: 44px;
    }

    p {
      color: $colorDefault;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 7px;
    }
  }

  &__menu {
    background: rgba(0, 0, 0, 0.3);
    display: none;
    position: relative;
    right: 0;
    top: 0;
    width: 70%;
    z-index: 1;

    .menu {
      .menu__list {
        display: flex;
        flex-direction: column;
        min-width: 120px;
        padding-top: 80px;
        text-align: center;

        .menu__item {
          padding: 15px 0;

          a {
            @include menuLinks;
          }
        }
      }
    }
  }

  .visible {
    display: block !important;
  }

  &__hamburger {
    box-sizing: border-box;
    display: block;
    padding: 24px 30px 24px 0;
    position: absolute;
    right: 0;
    z-index: 1;

    .hamburger__box {
      border-top: 5px solid $colorDefault;
      cursor: pointer;
      height: 40px;
      position: relative;
      width: 40px;

      &:before,
      &:after {
        background: $colorDefault;
        border-top: 5px solid $colorDefault;
        content: "";
        display: block;
        left: 0;
        position: absolute;
        top: 0;
        transform: translateY(13px);
        transition: all 0.5s ease-in-out;
        width: 40px;
      }

      &:after {
        transform: translateY(30px);
      }

      &:hover {
        border-top: none;
        top: 15px;

        &:before {
          transform: rotate(45deg);
        }

        &:after {
          transform: rotate(-45deg);
        }
      }
    }
  }

  @media all and (min-width: 1024px) {
    &__logo {
      padding-left: 10%;
    }
    &__hamburger {
      display: none;
    }

    &__menu {
      background: none;
      display: block;
      padding: 35px 10% 0 0;
      width: 40%;
      z-index: 1;
      .menu {
        .menu__list {
          flex-direction: row-reverse;
          padding-top: 0;

          .menu__item {
            a {
              padding: 0 15px 24px;
            }
          }
        }
      }
    }
  }
}
